body{
	margin:0;
	text-decoration: none;
	padding-top: 80px;
}

.header{
	background-color:#CC4646;
	position: fixed;
	width:100%;
	top: 0px;
}	

.header-barra{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

.logo{
	margin: 15px 15px;
	color: white;
	font-weight: 400;
	font-size: 2.2em;
	font-family: 'Pacifico';
}

a {
	text-decoration: none;
}

.header-barra-navegacion li{
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 15px 15px;
	color: white;
	cursor:pointer;
}

.bgc-image{
	background-image:url("http://webthemez.com/demo/neu-free-web-designer-profile-responsive-web-template/images/banner-bg.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
}

.intro{
	margin:0 auto;
	max-width: 1200px;
	padding: 50px 130px;
	
}

.slider-txt{
	padding-top: 30px;
	padding-left: 130px;
	line-height: 1.1em;
}

.aboutus{
	background-color: #e4e4e4;
	padding: 50px 130px;
}

.navcuadradoslider{

}

.cuadradoslider{
	border:2px solid rgba(255, 255, 255, 0.6);
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	background-color: rgba(255, 255, 255, 0.13);
	border-radius: 0px;
}